* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    height: 100vh;
    display: flex;
}
.nav-link {
    width: 20%;
    height: 100%;
    padding-top: 2em;
    position: relative;
    background: #eee;
}
.nav-link ul {
    padding-left: 50px;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    font-size: 20px;
    text-decoration: none;
}
.nav-link ul a {
    width: 100%;
    margin-bottom: 50px;
    display: flex;
}
.dashboard {
    width: 55%;
    height: 100vh;
    background-color: #1a1819;
    padding-top: 2em;
<<<<<<< HEAD
    display: grid; 
=======
    display: grid;
    overflow-y: scroll;
>>>>>>> 380575b7de9f3b4bdcf13dc42373062682d5a83d
}
.dashboardContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.dashboardContainer h1 {
    color: white;
    padding-left: 20px;
    font-family: sans-serif;
}
.dashboardContainer i {
    padding-left: 100%;
    color: white;
    /* position: absolute; */
    border-radius: 15px;
    padding: 1em;
    background-color: #8c8ff0;
}
.dashboardContainer i:hover {
    background-color: teal;
    color: white;
}

.dashboardContent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, max-content);
    grid-gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.dashboardContent #first-box {
    height: 150px;
    background-color: blanchedalmond;
    border-radius: 20px;
    grid-row: 1/2;
    grid-column: 1/-1;
}
.dashboardContent #second-box {
    height: 300px;
    background-color: lightgray;
    border-radius: 20px;
    grid-row: 2/-1;
    grid-column: 1/3;
}
.dashboardContent #third-box {
    height: 300px;
    background-color: lightgray;
    border-radius: 20px;
    grid-row: 2/-1;
    grid-column: 3/-1;
}
.dashboardheading {
    width: 100%;
    margin-top: 20px;
}
.dashboardHead {
    display: flex;
    justify-content: space-between; /* This property is used to separate the elements properly*/
    margin-bottom: 20px;
}
.dashboardHead h1 {
    color: white;
    font-family: sans-serif;
    padding-left: 20px;
}
.dashboardHead p {
    color: white;
    /* padding-left: 68%; Never separate elements like this */
    font-family: sans-serif;
}
.dashboardGridBooking {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #1a1819;
}
.dashboardBooking {
    background-color: #8c8ff0;
    padding: 1em;
    border-radius: 15px;
    display: flex;
    position: relative;
    color: white;
    font-family: sans-serif;
}
.FirstBooking {
    font-size: 25px;
    width: 60px;
    height: 60px;
    background-color: #7073da;
    border-radius: 10px;
    margin-right: 10px;
    display: flex;
    color: white;
    font-weight: bold;
    padding: 15px;
}
.MainHead {
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    width: 25%;
    height: 100%;
}
.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.heading h1 {
    padding: 25px;
    font-family: sans-serif;
}
.heading i {
    font-size: 30px;
}
.heading i:hover {
    color: aliceblue;
    background-color: grey;
}

.circle {
    /* position: absolute;  You fucker ankit, you still don't know when to use position: absolute; asshole */
    /* padding: 50px;  */
    width: 200px;
    height: 200px;
    border-radius: 50%;
    color: black;
    background-color: black;
    margin: 0 auto 40px auto;
}
.head {
    text-align: center;
    font-family: sans-serif;
}
