* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 100%;
    height: 100vh;
    display: flex;
}
.nav-link {
    width: 20%;
    height: 100%;
    padding-top: 2em;
    position: relative;
    background: #eee;
}
.nav-link ul{
    padding-left: 50px;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    font-size: 20px;
    text-decoration: none;
}
.nav-link ul a{
    width: 100%;
    margin-bottom:50px;
    display: flex;
}
.dashboard {
    width: 55%;
    height: 100vh;
    background-color: #1a1819;
    padding-top: 2em;
    display: grid;

}
.dashboardContainer {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.dashboardContainer h1 {
    color: white;
    padding-left: 20px;
    font-family: sans-serif;
}
.dashboardContainer i{
    padding-left: 100%;
    color: white;
    /* position: absolute; */
    border-radius: 15px;
    padding: 1em;
    background-color: #8c8ff0;
}
.dashboardContainer i:hover{
    background-color: teal;
    color:white;
}

.dashboardContent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, max-content);
    grid-gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.dashboardContent #first-box {
    height: 150px;
    background-color: blanchedalmond;
    border-radius: 20px;
    grid-row: 1/2;
    grid-column: 1/-1;
}
.dashboardContent #second-box {
    height: 300px;
    background-color: lightgray;
    border-radius: 20px;
    grid-row: 2/-1;
    grid-column: 1/3;
}
.dashboardContent #third-box {
    height: 300px;
    background-color: lightgray;
    border-radius: 20px;
    grid-row: 2/-1;
    grid-column: 3/-1;
}
.dashboardheading{
    width: 100%;
    margin-top:20px; 
}
.dashboardHead{
    display: flex;
    justify-content: space-between; /* This property is used to separate the elements properly*/
    margin-bottom: 20px;
}
.dashboardHead h1{
    color: white;
    font-family: sans-serif;
    padding-left: 20px;
}
.dashboardHead p{
    color: white;
    /* padding-left: 68%; Never separate elements like this */
    font-family: sans-serif;
}
.dashboardGridBooking{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color:#1a1819;

}
.dashboardBooking{
    background-color: #8c8ff0;
    padding: 1em;
    border-radius: 15px;
    display: flex;
    position: relative;
    color: white;
    font-family: sans-serif;

}
.FirstBooking{
    font-size:25px;
    width: 60px;
    height: 60px;
    background-color: #7073da;
    border-radius: 10px;
    margin-right: 10px;
    display: flex;
    color: white;
    font-weight: bold;
    padding: 15px;
}
.MainHead{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
}
.heading{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.heading h1{
    padding: 25px;
    font-family: sans-serif;
}
.heading i{
    font-size: 30px;
}
.heading i:hover{
    color: aliceblue;
    background-color: grey;
}

.circle{
    position: absolute;
    padding: 50px; 
    border-radius: 50px;
    color:black;
    background-color: black;    
    width: 50px;
    margin:0 auto;
}
.head{
    text-align: center;
    font-family: sans-serif;
}
.head h1{
    top:30%;
    position: absolute;
}
.head p{
    top:34%;
    position: absolute;
}